/* Decent Defaults */
body {
  background-color: #192f3e;
}

.entire img {
  max-height: 100%;
  width: 50rem;
}
.entire h1 {
  text-align: right;
  font-size: 4rem;
  margin-top: -60rem;
  margin-right: 8rem;
  color: #f3bb01;
}
.entire h2 {
  color: goldenrod;
  margin-right: 8rem;
}
.entire p {
  max-width: 69ch;
  margin-left: 55rem;
  margin-top: 16rem;
}
ul {
  width: auto;
  color: white;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
}

li {
  display: inline-block;
  padding: 0.5rem;
  padding-right: 0.5rem;
}

a {
  text-align: center;
  font-size: medium;
  color: white;
}

h2 {
  text-align: right;
}

p {
  line-height: 2rem;
  text-align: justify;
  font-size: 1.4rem;
  color: white;
}

.logo {
  max-height: 4rem;
}

.images {
  display: flex;
  flex-direction: row;
  max-width: 30rem;
  gap: 2rem;
  margin-left: 7rem;
  margin-top: 2rem;
}

.coalsection h1 {
  text-align: center;
  color: #f3bb01;
  font-size: 4rem;
}

.coalsection iframe {
  margin-left: 12rem;
  margin-top: 3rem;
}

.coalsection h2 {
  text-align: justify;
  margin-left: 9rem;
  color: #f3bb01;
  font-size: medium;
}

.coalsection p {
  text-align: justify;
  max-width: 58ch;
  margin-left: 57rem;
  margin-top: -23rem;
}

.question h2 {
  text-align: left;
  /* margin-left: 3rem; */
  border: 1px;
  border-style: solid;
  background: #f3bb01;
  max-width: 100%;
  height: fit-content;
}
.tone {
  margin-top: 4rem;
}

.question {
  padding-left: 12rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.question > * {
  grid-column: 3/10;
}

.windsection h1 {
  font-size: 4rem;
  text-align: center;
  color: #f3bb01;
}
.windsection iframe {
  margin-left: 12rem;
  margin-top: 3rem;
}
.windsection h2 {
  text-align: justify;
  max-width: 58ch;
  margin-left: 57rem;
  margin-top: -48rem;
  color: aliceblue;
}
