/* Decent Defaults */
body {
  background-color: #192f3e;
}

ul {
  width: auto;
  color: white;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  padding: 0.5rem;
  padding-right: 0.5rem;
}

a {
  text-align: center;
  font-size: medium;
  color: white;
}

h1 {
  text-align: right;

  font-size: 4rem;
}

h2 {
  text-align: right;
}

p {
  line-height: 2rem;
  text-align: justify;
  font-size: 1.4rem;
  color: white;
}

/* img {
  width: auto;
  height: 500px;
  padding-left: 15rem;
} */

.logo {
  max-height: 4rem;
}
