/* Decent Defaults */

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.nav a {
  display: inline-block;
  padding: 2rem 2rem;
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
}

.nav {
  text-align: right;
  background-color: black;
}

.right {
  text-align: center;
  font-size: 2rem;
}

.sub {
  font-size: 0.5rem;
  text-align: right;
}

.text {
  text-align: center;
  font-size: 2rem;
}
.left {
  padding-left: 4rem;
  padding-right: 10rem;
}
.entire {
  display: flex;
}
