/* Decent Defaults */

ul {
  width: auto;
  float: right;
  margin-top: 1rem;
  color: white;
}
li {
  display: inline-block;
  padding: 1rem;
  padding-right: 4rem;
  position: relative;
}

a {
  text-align: center;
  font-size: medium;
  color: white;
}

h1 {
  text-align: right;
  padding-right: 8rem;
  font-size: 4rem;
  margin-top: -24rem;
}

h2 {
  text-align: right;
  padding-right: 11rem;
}

p {
  line-height: 2rem;
  text-align: justify;
  margin-top: 15rem;
  font-size: 1.4rem;
  position: absolute;
  padding-left: 44.2rem;
  padding-right: 5rem;
}

img {
  width: auto;
  height: 500px;
  padding-left: 15rem;
}
